# Mini-Project - Build Your Own Model

* load packages data
* load data
* examine the data
* create plots about features
* clean the data - take care of missing data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
%matplotlib inline

In [5]:
feature_names = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 
                     'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

In [6]:
data = pd.read_csv("../files/heart-disease.csv", names=feature_names)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
age         294 non-null int64
sex         294 non-null int64
cp          294 non-null int64
trestbps    294 non-null object
chol        294 non-null object
fbs         294 non-null object
restecg     294 non-null object
thalach     294 non-null object
exang       294 non-null object
oldpeak     294 non-null float64
slope       294 non-null object
ca          294 non-null object
thal        294 non-null object
num         294 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.2+ KB

In [7]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [12]:
data.replace('?', np.nan, inplace=True)

In [13]:
data.isnull().sum()

age           0
sex           0
cp            0
trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       190
ca          291
thal        266
num           0
dtype: int64

In [20]:
data.drop(['slope', 'ca', 'thal'], axis=1, inplace=True)

In [25]:
data.dropna(inplace=True)

In [26]:
data.num.value_counts()

0    163
1     98
Name: num, dtype: int64

In [30]:
X = data.drop('num', axis=1)  
y = data.ix[:, 'num']

In [31]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((208, 10), (208,), (53, 10), (53,))

In [33]:
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

scores = cross_val_score(knn, X_train, y_train, cv = 10)
print "Scores: "
print scores
print
print "Average of CV Scores: %.2f" % scores.mean()
print "Std of CV Scores: %.2f" % scores.std()

Scores:
[ 0.80952381  0.57142857  0.76190476  0.61904762  0.52380952  0.71428571
  0.80952381  0.66666667  0.6         0.55      ]

Average of CV Scores: 0.66
Std of CV Scores: 0.10

In [36]:
print metrics.classification_report(y_train, knn.predict(X_train))

             precision    recall  f1-score   support

          0       0.80      0.88      0.84       130
          1       0.77      0.64      0.70        78

avg / total       0.79      0.79      0.79       208