# Classification with Decision Trees

Learn one of the most popular classification tool the decision trees (Decision Trees, Random Forests, Ensemble models, Extremely Randomised Trees).

## Theory of Decision Trees

![dt_example](../files/0601_dt_example.png "DT Example")

### How to Build a Tree

![dt_data](../files/0602_data.png "DT Data")

![dt_exmplain](../files/0603_explain.png "DT Explain")

#### Impurity measurements:
* Entropy
* Gini
* Classification Error

![impurity_figures](../files/0604_impurity_figures.png "Impurity Figures")

![gini](../files/0605_gini.png "Gini")

### An example tree

![iris](../files/0606_iris.svg "Iris")

## Example with Titanic Dataset

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
%matplotlib inline

In [6]:
import pandas as pd
data = pd.read_csv("../files/titanic.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data.drop(['PassengerId', 'Name', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis=1, inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 34.9+ KB

In [10]:
data["Age"].fillna(data["Age"].mean(), inplace=True)
data["Sex"] = data["Sex"].apply(lambda sex: 0 if sex == 'male' else 1)

In [11]:
X = data.drop('Survived', axis=1)  
y = data.ix[:, 'Survived']

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((712, 4), (712,), (179, 4), (179,))

In [14]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion="gini", max_depth=3)
clf = clf.fit(X_train, y_train)

In [13]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(clf, out_file="mytree.dot")
with open("mytree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)

RuntimeError: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' path

In [18]:
clf.tree_

In [21]:
from sklearn.cross_validation import cross_val_score
cross_val_score(clf, X_train, y_train, cv=10).mean()

0.80486362620165441